body {
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 110px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 250px;
    height: 400px;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px 0px 10px; 
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#element-up{
    display: flex;
    justify-content:flex-start;
}

#element-center{
    display: flex;
    justify-content:center;
}

#element-down{
    display: flex;
    justify-content:flex-end;
}

#click{
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    left: 100%;
    display: flex;
    width: 100px;
    height: 30px;
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border-radius: 5%;
    background-color: white;
}